body{
    background-color: white;
}
.navbar{
    display: flex;
    flex-direction: row;
}
.logo{
    width: 100px;
}
h1{
    color:green;
}
.container{
    display: flex;
    flex-direction: row;
    padding: 50px;
}
.item{
    display:flex;
    flex-direction: column;
    height: 250px;
    width: 150px;
    padding: 40px;
}