body{
    background-color: #FF66C4;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    display: flex;
    flex-direction: row;
}
.logo{
    width: 100px;
}
h1{
    color:green;
    padding-left: 250px;
}
.container{
    display: flex;
    flex-direction: row;
    padding: 50px;
}
.item{
    display:flex;
    flex-direction: column;
    width: 400px;
    padding: 40px;
    border-radius: 15%;
}